.simple-text logo-normal{
    background-color: transparent;
}
.sidebar[data-color="black"]:after, .off-canvas-sidebar[data-color="black"]:after {
    background: #000016;
}
.main-panel {
    background-color: #f9f9f6;
  }
body {
    background: #f9f9f6;
    overflow-x: hidden;
}  
.email{
    margin: 10px 15px 0;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 8px;
    line-height: 30px;
    opacity: .7;
}
.form-group input[type=file]{
    opacity: 1;
    position: relative;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 8px 12px;
    width:calc(100% - 26px);
  }
  
  .upload-btn-wrapper .btnr {
    border: 1px solid gray;
    color: gray;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
  }
  .upload-btn-wrapper .btnr + span {
    padding: 5px;
    font-weight: normal;
    }
  
  .upload-btn-wrapper input[type=file] {
      font-size: 42px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
  }