.simple-text logo-normal{
    background-color: transparent;
}
.sidebar[data-color="black"]:after, .off-canvas-sidebar[data-color="black"]:after {
    background: #000016;
}
.main-panel {
    background-color: #f9f9f6;
  }
body {
    background: #f9f9f6;
    overflow-x: hidden;
}  